LogeneInterface/LGI.Hsp/etc/黄石中心医院/CrisisSmsSender/Web References/CrisisService/CrisisReportService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="ReportCrisis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blh" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="crisis" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ReportCrisisResponse">
        <s:complexType />
      </s:element>
      <s:element name="CancelReportCrisis">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="blh" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CancelReportCrisisResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ReportCrisisSoapIn">
    <wsdl:part name="parameters" element="tns:ReportCrisis" />
  </wsdl:message>
  <wsdl:message name="ReportCrisisSoapOut">
    <wsdl:part name="parameters" element="tns:ReportCrisisResponse" />
  </wsdl:message>
  <wsdl:message name="CancelReportCrisisSoapIn">
    <wsdl:part name="parameters" element="tns:CancelReportCrisis" />
  </wsdl:message>
  <wsdl:message name="CancelReportCrisisSoapOut">
    <wsdl:part name="parameters" element="tns:CancelReportCrisisResponse" />
  </wsdl:message>
  <wsdl:portType name="CrisisReportServiceSoap">
    <wsdl:operation name="ReportCrisis">
      <wsdl:input message="tns:ReportCrisisSoapIn" />
      <wsdl:output message="tns:ReportCrisisSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CancelReportCrisis">
      <wsdl:input message="tns:CancelReportCrisisSoapIn" />
      <wsdl:output message="tns:CancelReportCrisisSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CrisisReportServiceSoap" type="tns:CrisisReportServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportCrisis">
      <soap:operation soapAction="http://tempuri.org/ReportCrisis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReportCrisis">
      <soap:operation soapAction="http://tempuri.org/CancelReportCrisis" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="CrisisReportServiceSoap12" type="tns:CrisisReportServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ReportCrisis">
      <soap12:operation soapAction="http://tempuri.org/ReportCrisis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CancelReportCrisis">
      <soap12:operation soapAction="http://tempuri.org/CancelReportCrisis" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CrisisReportService">
    <wsdl:port name="CrisisReportServiceSoap" binding="tns:CrisisReportServiceSoap">
      <soap:address location="http://localhost:57792/CrisisReportService.asmx" />
    </wsdl:port>
    <wsdl:port name="CrisisReportServiceSoap12" binding="tns:CrisisReportServiceSoap12">
      <soap12:address location="http://localhost:57792/CrisisReportService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>